//portfolio variables
@import "./theme_default/main";

//projects style
@import "./components/calculadora";
@import "./components/calendario";
@import "./components/counter";

//global style
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $fontFamily;
    letter-spacing: -0.02em;
}

body {
    height: 100vh;
    width: 100vw;
    background: $bgMain;
}