* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #4f4cb0 0%, #4c4cb0 100%);

    display: grid;
    place-content: center;
}

body * {
    font-family: 'Rubik';
    letter-spacing: -0.02em;
}

#calculator {
    width: 356px;

    background: #2d2a37;
    box-shadow:
        0 4px 4px rgba(0, 0, 0, 25%),
        0 188px 52px rgba(0, 0, 0, 1%),
        0 120px 48px rgba(0, 0, 0, 4%),
        0 68px 41px rgba(0, 0, 0, 15%),
        0 30px 30px rgba(0, 0, 0, 26%),
        0 8px 17px rgba(0, 0, 0, 29%),
        inset 0 6px 8px rgba(255, 255, 255, 10%),
        inset 0 -4px 5px rgba(0, 0, 0, 22%);

    border-radius: 48px;
}

#display {
    margin-top: 54px;
    padding-inline: 54px;
}

#last-calc {
    text-align: right;
    font-size: 20px;
    line-height: 140%;
    color: #6b6b6b;
}

#result {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

#result span {
    font-size: 36px;
    line-height: 140%;
    color: #ebebeb;
}

#displayResult {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}
#calculatorKeyboard {
    padding: 26px 32px 32px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    border: 0;
    width: 64px;
    height: 64px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%,
    rgba(255, 255, 255, 0.05) 100%), #2d2a37;
    box-shadow:
        0px 11px 7px rgba(0, 0, 0, 1%),
        0px 7px 7px rgba(0, 0, 0, 4%),
        0px 4px 6px rgba(0, 0, 0, 10%),
        0px 2px 4px rgba(0, 0, 0, 26%),
        0px 0px 2px rgba(0, 0, 0, 29%),
        inset 0px 2px 3px rgba(255, 255, 255, 6%);

    border-radius: 999px;
    font-size: 24px;
    line-height: 28px;
    color: #ebebeb;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(180deg, rgba(0,0,0,15%) 0%,
    rgba(255,255,255,5%) 100%), #4f4cb0;
    transition: 0.3s;
}

.secondary {
    color: #975dfa;
}

.tertiary {
    background: linear-gradient(180deg, rgba(0,0,0,5%) 0.01%,
    rgba(255,255,255,5%) 100%), #2a2a78;

    box-shadow:
    0px 11px 7px rgba(0,0,0,1%),
    0px 7px 7px rgba(0,0,0,4%),
    0px 4px 6px rgba(0,0,0,10%),
    0px 2px 4px rgba(0,0,0,26%),
    0px 0px 2px rgba(0,0,0,29%),
    inset 0px 2px 3px rgba(255,255,255,10%)
    ;
}

.quartiary {
    background: linear-gradient(180deg, rgba(0,0,0,15%) 0%,
    rgba(255,255,255,5%) 100%), #5a5ad9;

    box-shadow:
    0px 11px 7px rgba(0,0,0,1%),
    0px 7px 7px rgba(0,0,0,4%),
    0px 4px 6px rgba(0,0,0,10%),
    0px 2px 4px rgba(0,0,0,26%),
    0px 0px 2px rgba(0,0,0,29%),
    inset 0px 2px 3px rgba(255,255,255,10%)
    ;
}