@mixin bigShadow {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 25%), 0 188px 52px rgba(0, 0, 0, 1%), 0 120px 48px rgba(0, 0, 0, 4%),
    0 68px 41px rgba(0, 0, 0, 15%), 0 30px 30px rgba(0, 0, 0, 26%), 0 8px 17px rgba(0, 0, 0, 29%),
    inset 0 6px 8px rgba(255, 255, 255, 10%), inset 0 -4px 5px rgba(0, 0, 0, 22%);
}

@mixin buttonShadow {
    box-shadow: 0px 11px 7px rgba(0, 0, 0, 1%), 0px 7px 7px rgba(0, 0, 0, 4%),
    0px 4px 6px rgba(0, 0, 0, 10%), 0px 2px 4px rgba(0, 0, 0, 26%), 0px 0px 2px rgba(0, 0, 0, 29%),
    inset 0px 2px 3px rgba(255, 255, 255, 6%);
}

@mixin commonHoverBlue {
    &:hover {
        background: linear-gradient(180deg, rgba($black, 15%) 0%, rgba($white, 5%) 100%), #4f4cb0;
        transition: 0.3s;
    }
}