//main colors
$bgDark: #2D2A37;
$bgDarker: #130E25;
$bgLight: #F0F0F0;
$bgLighter: #FFFFFF;
$bgLightBlue: #4c4cb0;
$bgLighterBlue: #4f4cb0;
$bgDarkBlue: #2a2a78;
$bgMain: linear-gradient(180deg, $bgLighterBlue 0%, $bgLightBlue 100%);

// Brand Colors
$brandColor1: #f6f6f6;
$brandColor2: #FF792D;
$brandColor3: #F2CF4F;
$brandColor4: #7379FF;
// $brandColorDarker: #022550;
$brandColorDarker: #828282;
$brandColorDark: #6A6774;
$brandColorLight: #F7F6F8;
$brandColorLighter: #FFFFFF;

//standard colors
$candleLight: #FFD117;
$gray: #828282;
$darkGray: #6B6B6B;
$thunderbird: #CE181E;
$emperor: #555555;
$alto: #d7d7d7;
$black: #000000;
$white: #ffffff;
$chambray: #3B5998;
$purple: #913684;
$lighterPurple: #5a5ad9;
$tango: #ED6F26;
$darkPrimary: #9C060B;
$limeade: #3A8600;
$indianRed: #CD5C5C;
$pictonBlue: #26C1EB;
$envelopeWhite: #E5E5E5;
$wolfie: #F9F9F9;
$corn: #DEB201;


// message validate colors
$successColor: #3A8600;
$errorColor: #9C060B;
$successGreen: #48A700;

//buttonColors
$darkGrayButton: linear-gradient(180deg, rgba($black, 0.05) 0%, rgba($white, 0.05) 100%), $bgDark;
$darkBlueButton: linear-gradient(180deg, rgba($black, 0.05) 0%, rgba($white, 0.05) 100%), $bgDarkBlue;
$lightBlueButton: linear-gradient(180deg, rgba($black, 0.05) 0%, rgba($white, 0.05) 100%), $lighterPurple;