// Main font family
$fontFamily: 'Rubik', sans-serif;

// Font weights
$bold: 700;
$semiBold: 600;
$light: 300;
$regular: 400;

// Default rules for typography
@mixin fontStandards {
    font-family: $fontFamily;
    line-height: 1.2;
}

// Font size mixin ($min font-size at 768px increasing to $max at 1200px)
// Usage: @include fontSize(1.4, 2.8)
@mixin fontSize($min, $max) {
    font-size: unquote("clamp(#{$min}rem, -3.4444rem + 5.7870vw, #{$max}rem);");
}

// HEADINGS usage: @include heading1;
@mixin heading1 { @include fontStandards(); font-weight: $bold; @include fontSize(2.4, 3)}
@mixin heading2 { @include fontStandards(); font-weight: $bold; @include fontSize(2, 2.4)}
@mixin heading3 { @include fontStandards(); font-weight: $bold; @include fontSize(1.8, 2)}
@mixin heading4 { @include fontStandards(); font-weight: $bold; @include fontSize(1.6, 1.8)}
@mixin heading5 { @include fontStandards(); font-weight: $bold; @include fontSize(1.4, 1.6)}

// PRODUCT TITLE usage: @include productTitle1;
@mixin productTitle1 { @include fontStandards(); font-weight: $semiBold; @include fontSize(2, 2.4)}
@mixin productTitle2 { @include fontStandards(); font-weight: $semiBold; @include fontSize(1.8, 2)}
@mixin productTitle3 { @include fontStandards(); font-weight: $semiBold; @include fontSize(1.4, 1.6)}
@mixin productTitle4 { @include fontStandards(); font-weight: $semiBold; @include fontSize(1.4, 1.4)}

// REGULAR usage: @include regularText1;
@mixin lightText1 { @include fontStandards(); font-weight: $light; @include fontSize(1.6, 2)}
@mixin lightText2 { @include fontStandards(); font-weight: $light; @include fontSize(1.4, 1.6)}
@mixin lightText3 { @include fontStandards(); font-weight: $light; @include fontSize(1.2, 1.4)}
@mixin lightText4 { @include fontStandards(); font-weight: $light; @include fontSize(1.2, 1.2)}

// SEMI BOLD usage: @include semiBoldText1;
@mixin semiBoldText1 { @include fontStandards(); font-weight: $semiBold; @include fontSize(1.6, 2)}
@mixin semiBoldText2 { @include fontStandards(); font-weight: $semiBold; @include fontSize(1.4, 1.6)}
@mixin semiBoldText3 { @include fontStandards(); font-weight: $semiBold; @include fontSize(1.2, 1.4)}
@mixin semiBoldText4 { @include fontStandards(); font-weight: $semiBold; @include fontSize(1.2, 1.2)}

// BOLD usage: @include boldText1;
@mixin boldText1 { @include fontStandards(); font-weight: $bold; @include fontSize(1.6, 2)}
@mixin boldText2 { @include fontStandards(); font-weight: $bold; @include fontSize(1.4, 1.6)}
@mixin boldText3 { @include fontStandards(); font-weight: $bold; @include fontSize(1.2, 1.4)}
@mixin boldText4 { @include fontStandards(); font-weight: $bold; @include fontSize(1.2, 1.2)}

// REGULAR usage: @include regularText1;
@mixin regularText1 { @include fontStandards(); font-weight: $regular; @include fontSize(1.6, 2)}
@mixin regularText2 { @include fontStandards(); font-weight: $regular; @include fontSize(1.4, 1.6)}
@mixin regularText3 { @include fontStandards(); font-weight: $regular; @include fontSize(1.2, 1.4)}
@mixin regularText4 { @include fontStandards(); font-weight: $regular; @include fontSize(1.2, 1.2)}

// --------------------------------------------------------------------------------
//                              Typography Styles
// --------------------------------------------------------------------------------

// ---------- Headings -------------
h1 { @include heading1; }
h2 { @include heading2; }
h3 { @include heading3; }
h4 { @include heading4; }
h5 { @include heading5; }

// ---------- Paragraph ------------
p { @include regularText2; }